:root {
  font-size: 1.0582vw;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* .select__menu {
  z-index: 1000;
} */

@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}
