:root {
  --rootSize: 1.0582vw;
  font-size: var(--rootSize);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* .select__menu {
  z-index: 1000;
} */

@media screen and (max-width: 1024px) {
  :root {
    font-size: 14px;
  }
}
