:root {
  font-size: min(max(1rem, 4vw), 16px);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* .select__menu {
  z-index: 1000;
} */

@media screen and (max-width: 1024px) {
  :root {
    font-size: min(max(1rem, 4vw), 14px);
  }
}
